@import url("../../assets/styles/style.css");

.menu {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000009e;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__cursor {
    position: absolute;
    z-index: -1;
    width: 28px;
    height: 28px;
    content: "";
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    background-color: #5585ff; 
    -webkit-box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
    -moz-box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
    box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
    filter: blur(10px);
}

.menu__list {
    display: block;
    width: max-content;
    height: max-content;
} 

.menu__item {
    display: block;
    width: max-content;
    height: max-content;
    margin: 45px auto;
    color: white;
    font-family: "Unbounded-Bold";
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 5px;
    transition: 350ms;
    &:hover {
        transition: 300ms;
        color: #5585ffb2;
    }
}

.menu__item_active {
    display: block;
    width: max-content;
    height: max-content;
    margin: 45px auto;
    color: #5585FF;
    font-family: "Unbounded-Bold";
    font-weight: 750;
    font-size: 48px;
    letter-spacing: 6%;
    transition: 350ms;
    &:hover {
        transition: 300ms;
        color: #5585ffb2;
    }
}

.menu__btn__block {
    width: max-content;
    height: max-content;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 15px 30px;
}

.menu__btn__text {
    width: max-content;
    height: max-content;
    color: white;
    font-weight: regular;
    font-size: 15px;
    font-family: "Unbounded-Regular";
    position: absolute;
    top: 30px;
    right: 35px;
    &::after {
        position: absolute;
        opacity: 0;
        transition: 350ms;
        width: 28px;
        height: 28px;
        content: "";
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        border-radius: 50%;
        background-color: #ffffff; 
        -webkit-box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        -moz-box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        filter: blur(10px);
    }
}

.menu__btn__text:hover {
    &::after {
        transition: 300ms;
        opacity: 1;
    }
}
