.block{
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.block__number {
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.445);
    font-weight: regular;
    font-size: 15px;
    font-family: "Unbounded-Regular";
    background-color: transparent;
    margin-left: 5px;
    margin-bottom: 8px;
}

.block__lang{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item{
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.445);
    font-weight: regular;
    font-size: 15px;
    font-family: "Unbounded-Regular";
    transition: 350ms;
    background-color: transparent;
    border: none;
    &:hover{
        transition: 300ms;
        color: white;
    }
}

.item__active{
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.616);
    font-weight: regular;
    font-size: 15.5px;
    font-family: "Unbounded-Regular";
    transition: 350ms;
    background-color: transparent;
    border: none;
    &:hover{
        transition: 300ms;
        color: white;
    }
}

.block__number {
    display: block;
    width: max-content;
    height: max-content;
}
