@import url("../../assets/styles/style.css");

.wrapper {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: max-content;
    height: max-content;
} 

.text {
    max-width: 95%;
    height: max-content; 
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.6;
    text-wrap: wrap; 
    font-family: Unbounded-Light;
    font-size: 17px;
} 

.link {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    display: block;
} 

.qrcode {
    width: 225px;
    height: 225px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: white;
}
