.header {
    width: 100%;
    height: max-content;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn__block {
    width: max-content;
    height: max-content;
    cursor: url("./images/pCur.png"), auto;
    background-color: transparent;
    border: none;
    margin: 15px 30px;
    position: relative;
    display: inline-block;
    &::after {
        position: absolute;
        opacity: 0;
        transition: 350ms;
        width: 28px;
        height: 28px;
        content: "";
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        border-radius: 50%;
        background-color: #ffffff; 
        -webkit-box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        -moz-box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        box-shadow: 0px 0px 75px 25px rgba(255, 255, 255, 0.15);
        filter: blur(10px);
    }
    &::before {
        position: absolute;
        z-index: -1;
        width: 28px;
        height: 28px;
        content: "";
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        border-radius: 50%;
        background-color: #5585ff; 
        -webkit-box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
        -moz-box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
        box-shadow: 0px 0px 100px 30px rgba(85, 133, 255, 0.2);
        filter: blur(10px);
    }
}

.header__btn__block:hover {
    &::after {
        transition: 300ms;
        opacity: 1;
    }
}

.header__btn__text {
    width: max-content;
    height: max-content;
    color: white;
    font-weight: regular;
    font-size: 15px;
    font-family: "Unbounded-Regular";

}

.header__title_block {
    width: max-content;
    height: max-content;
    transition: 350ms; 
    &:hover{
        transition: 300ms;
        transform: scale(1.05);
        text-shadow: rgb(255, 255, 255) 1px 0 15px;
    }
}

.header__title_h2 {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Caesar-Dressing";
}

.header__title_h1 {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    margin-top: -5px;
    font-size: 36px;
    font-family: "Rock-Salt";
}

.header__title_h1_author {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    font-size: 55px;
    font-family: "New-Cyrillic-Goth";
    color: #5585ff;
}
