@import url("../../assets/styles/animations.css");

.main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.block {
    width: 350px;
    height: max-content;
    transition: 350ms;
    &:hover{
        transition: 300ms;
        cursor: pointer;
        transform: scale(1.1);
    }
} 

.block_active {
    width: 350px;
    animation: WelcomeBlock_animation 5s;
}
