@import url("./reset.css");
@import url("./animations.css");
@import url("./variables.css");

@font-face {
    font-family: 'Unbounded-Regular';
    src: url('../fonts/Unbounded/Unbounded-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Unbounded-Bold';
    src: url('../fonts/Unbounded/Unbounded-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Caesar-Dressing';
    src: url('../fonts/CaesarDressing/caesar-dressing-cyrillic.otf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Rock-Salt';
    src: url('../fonts/RockSalt/RockSalt-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
    max-width: 100dvw;
    min-height: 100dvh;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}